.NavigationContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	background-color: rgb(43, 43, 67);
	padding: 1rem;
}

#navbar-title {
	color: cyan;
	font-size: 25px;
}

#react-img {
	width: 50px;
}
